#tooltip {
  display: none;
  position: fixed;
  bottom: 25px;
  left: 10px;
  font-size: 11px;
  font-family: 'Arial', sans-serif;
  background-color: white;
  width: 300px;
  height: 70px;
  box-shadow: 1px 1px 5px rgba(122, 122, 122, 0.5);
  border-top: 3px solid #007A15;
  color: grey;
}

#poster {
  height: 70px;
}

p {
  color: black;
  font-size: 12px;
}

#movie_name {
  position: fixed;
  left: 66px;
  bottom: 63px;
  width: 208px;
}

#imdb_score {
  position: fixed;
  left: 288px;
  bottom: 73px;
}

#meta_score {
  position: fixed;
  left: 290px;
  bottom: 57px;
}

#director {
  position: fixed;
  bottom: 56px;
  left: 68px;
}

#line-separator {
  position: fixed;
  width: 253px;
  bottom: 48px;
  left: 57px;
  height: 1px;
  background: #939393;
}

#actors {
  position: fixed;
  bottom: 30px;
  left: 67px;
}
